@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  border-radius: 8px;

  width: 408px;
  height: 296px;
  background: #fff;
}
label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input,
textarea {
  width: 360px;
  height: 40px;
}
textarea {
  height: 80px;
}
button {
  font-family: 'Montserrat', sans-serif;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms ease;
}
button:hover {
  background-color: #6c8cff;
}
